body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contenedor {
    background: rgb(189, 186, 186);
    /* width: 90vw; */
    height: 50vh;
    position: relative;
    /* overflow: hidden; */
}

.contenedor span {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: red;
    display: block;
    position: absolute;
}